.navbar .navbar-nav .nav-link{
	color: #000;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

.navbar-brand{
	font-weight: bold;
}

.carousel-item{
	height: 450px;
}

a{
	color : #505050;
}